<h1><%= link_to capitalize_each_word(@cafe.name), cafe_path(@cafe.slug) %> notes:</h1>

<div class='cafetile'>
		<h3><%= link_to 'New Note ++', new_cafe_note_path(@cafe.slug), class: 'normal_link' %></h3>
</div>

<% if !@notes.empty? %>
	<% @notes.each do |n| %>
		<div class='container'>
			<p> <%= capitalize_each_word(n.user.name) %> said: </p>
			<p> <%= n.text %> </p>
		</div>
	<% end %>
<% else %>
	<li class='flash'> There is NO notes for this cafe </li>
<% end %>
