<% @visits.each do |v| %>
	
	<div class='cafetilesmall'>
			<%= link_to cafe_path(v.cafe.slug) do %>
				<b><%= capitalize_each_word(v.cafe.name) %></b>
			<% end %>

			<text class=location><%= v.cafe.location %></text>
	</div>
	
<% end %>