<h1><%= @user.name %>'s visits:</h1>

<ul>
	<% @visits.each do |v| %>
		<li><%= v.cafe.name %></li>
	<% end %>
</ul>

<%= link_to new_user_visit_path do %>
	<div class='cafetile'>
			<h3>Choose a Cafe to Visit</h3>
	</div>
<% end %>