<div class='cafestable_summary'>
	<%= render partial: "visiting_today" %>
</div>

<h1><%= capitalize_each_word(@user.name) %>'s visits:</h1>

<%= link_to new_user_visit_path do %>
	<div class='cafetile'>
			<h3>Add a Cafe to Visit</h3>
	</div>
<% end %>

<% if !@visits.empty? %>
	<%= render partial: "application/tabs", locals: {collection: @visits} %>
<% end %>