/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea {
  width: 100%;
  height: 200px;
}

input[type="submit"] {
  width: 200px;
  line-height: 50px;
  background-color: #fae7d2;
}

input[type="text"] {
  width: 400px;
}

legend {
  color: #b98;
}

a {
	text-decoration: none;
	color: white;
}

section h1 a {
  text-decoration: underline;
  color: black;
}

section u a {
	text-decoration: underline;
	color: white;
}

section a {
	text-decoration: none;
	color: black;
}


section a:hover {
	color: orange;
}

a:hover {
	color: #fae7d2;
}

section u a:hover {
	text-decoration: underline;
	color: #fae7d2;
}

label {
	display: inline-block;
	width: 100px;
}

fieldset label {
  color: grey;
  font-size: 11px;
  width: 60px;
}

fieldset input[type="text"] {
  width: 100%;
}

img {
  width:  180px;
  height: 150px;
  object-fit: cover;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
}

.cafestable_summary img {
  width:  130px;
  height: 80px;
  object-fit: cover;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
}

p b {
	padding: 10px 5px 0px 20px;
}

input[type="submit"].add  {
  border: none;
  font-size: 20px;
  color: darkgrey;
  background-color: #e9d9c5;
  border-radius: 5px;
  height: 100%;
  width: 60px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  display: table;
}

input[type="submit"].add:hover {
  color: white;
  background-color: orange;
  border-radius: 10px;
  cursor:pointer;
}

.text{  
  vertical-align: middle; 
  height: 50px; 
  display: table-cell; 
} 


.cafestable {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
}

.cafestable_summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
}

.cafetile {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  margin: 8px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #f5efe9;
  vertical-align: middle;
}

.cafetilesmall {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 4px;
  padding: 7px;
  border: none;
  width: auto;
  height: 50px;
  border-radius: 10px;
  background-color: #f5efe9;
  vertical-align: middle;
}

.cafeid {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  text-align: center;
  margin: 0px auto;
  /*height: 100%;*/
  vertical-align: middle;
}

text.location {
	color: grey;
}

.cafestable_summary text {
  font-size: 10px;
}

.cafetilesmall b {
  font-size: 12px;
}
/*.cafestable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}*/

.navwrap {
	display: flex;
	/*background: BF9E87*/
  background: #88A8BF; 
  width: 100%;
  justify-content: space-between;
  color: white;
}

.navwrap div {
	padding: 5px;
}

.navwrap div#log {
  margin-left: auto;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.home {
	background:url('https://images.wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1920x1080.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

header {
	padding: 10px;
	background-color: #88A8BF;
}

text {
	color: #eee;
}

section {
	margin: 30px;
/*	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;*/
  flex: 1;
}

footer {
}

li.flash {
	color: red;
	font-size: 10px;
}


