/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
	text-decoration: none;
	color: white;
}

a.black {
	text-decoration: underline;
	color: black;
}

a:hover {
	color: #fae7d2;
}

/*a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active*/
/*https://images.wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1920x1080.jpg*/

.navwrap {
	display: flex;
	/*background: BF9E87*/
  background: #88A8BF; 
  width: 100%;
  justify-content: space-between;
  color: white;
}

.navwrap div {
	padding: 5px;
}

.navwrap div#log {
  margin-left: auto;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.home {
	background:url('https://images.wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1920x1080.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

header {
	padding: 10px;
	background-color: #88A8BF;
}

text {
	color: #eee;
}

section {
	margin: 30px;
/*	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;*/
  flex: 1;
}

footer {
}

li.flash {
	color: red;
	font-size: 10px;
}


