
<text>
<h1>Welcome to Cafe Rota</h1>

<p><b>Cafe Rota</b> helps you scatter over time the visits to your favourites cafes - so that the owners are less likely to ask you to pay rent :P </p>
<br>
<u><%= link_to "Let's choose today's cafe!", login_path %></u> <!-- logic to choose between login / singup or user/id/cafes link -->
</text>