
<text>
<h1>Welcome to Cafe Rota</h1>

<p><b>Cafe Rota</b> helps you scatter over time the visits to your favourites cafes - so that the owners are less likely to ask you to pay rent  (^_^) </p>
<br>
<u>
	<% if user_is_authenticated %>
		<%= link_to "Let's choose today's cafe!", user_visits_path(current_user.slug) %>
	<% else %>
		<%= link_to "Let's choose today's cafe!", login_path %>
	<% end %>
</u> <!-- logic to choose between login / singup or user/id/cafes link -->
</text>