<!DOCTYPE html>
<html>
  <head>
    <title>CafesRota</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>

  </head>

  <body>
    <header>
      <div class="navwrap">
        <div>
          <a href="/">Home</a>
        </div>
        <div>
          <a href="/signup">SignUp</a>
        </div>
        <% #if user logged in %>
          <div id='logout'>
            <a href="/logout">Log out</a>
          </div>
        <% #end %>
      </div>
    </header>

    <section>
      <%= yield %>
    </section>

    <footer>
      <p align='center' style='font-size: 10px'>Cafes Rota &#169;</p>
    </footer>
  </body>
</html>
